{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="container-main">
    <table class="custom-table">
        <thead>
            <tr>
                <th>Nº de Usuários</th>
                <th>Nº de Funcionários</th>
                <th>Nº de Ramais</th>
                <th>Nº de E-mail's</th>
                <th>Nº de CHIPs (ativos)</th>
                <th>Valor Total Salários</th>
                <th>Valor Total Benefícios</th>
                <th>Data</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>01</td>
                <td>50</td>
                <td>150</td>
                <td>49</td>
                <td>35</td>
                <td>R$ 50.000</td>
                <td>R$ 25.000</td>
                <td>04.2024</td>
            </tr>
        </tbody>
    </table>
</section>
{% endblock %}

